<form name="disciplineForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="container-fluid" >    
            <h1 class="pull-right">Book</h1>
        </div>
        <br/>
        <div>
            <div class="form-group">
                <label for="txtIsbn" class="col-sm-1 control-label">ISBN</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtIsbn" ng-model="books.bookCandidate.isbn"/>
                </div>
            </div>
            <div class="form-group">
                <label for="txtTitle" class="col-sm-1 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtTitle" ng-model="books.bookCandidate.title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="txtSubTitle" class="col-sm-1 control-label">Subtitle</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtSubTitle" ng-model="books.bookCandidate.subtitle"/>
                </div>
            </div>
            <div class="form-group">
                <label for="txtDesc" class="col-sm-1 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea rows="4" cols="50" class="form-control" id="txtDesc" ng-model="books.bookCandidate.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="txtAuthor" class="col-sm-1 control-label">Authors</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtAuthor" ng-model="books.bookCandidate.authors"/>
                </div>
            </div>
            <div class="form-group">
                <label for="txtPublisher" class="col-sm-1 control-label">Publisher</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtPublisher" ng-model="books.bookCandidate.publisher"/>
                </div>
            </div>
            <div class="form-group">
                <label for="numPage" class="col-sm-1 control-label">Pages</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="numPage" ng-model="books.bookCandidate.pages"/>
                </div>
            </div>
            <div class="form-group">
                <label for="chkInStock" class="col-sm-1 control-label">In Stock</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-control" id="chkInStock" ng-model="books.bookCandidate.inStock"/>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-default" 
                            title="Back"
                            aria-label="Back"
                            ng-click="books.back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                    </button>
                    <button class="btn btn-default" 
                            title="Save"
                            aria-label="Save"
                            ng-click="books.save()">
                        Save <span class="glyphicon glyphicon-save"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>