<form name="disciplineForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="container-fluid" >    
            <h1 class="pull-right">Book</h1>
        </div>
        <br/>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>ISBN</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.isbn}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Title</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.title}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Subtitle</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.subtitle}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Description</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.description}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Authors</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.authors}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Publisher</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.publisher}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Published</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.published}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Pages</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.pages}}
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>In Stock</strong>
                    <div class="col-sm-offset-1">
                        {{books.bookView.inStock}}
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div class="col-sm-offset-2 col-sm-offset-1">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-default" 
                            title="Back"
                            aria-strong="Back"
                            ng-click="books.back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>