<form name="disciplineForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="container-fluid" >    
            <h1 class="pull-right">Book</h1>
        </div>
        <br/>
        <div>
            <div class="form-group">
                <label for="txtName" class="col-sm-1 control-label">Title</label> 
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtName" ng-model="books.bookCandidate.title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="txtWorkload" class="col-sm-1 control-label">Carga Horária</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="txtWorkload" ng-model="books.bookCandidate.workload"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-default" 
                            title="Back"
                            aria-label="Back"
                            ng-click="books.back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                    </button>
                    <button class="btn btn-default" 
                            title="Save"
                            aria-label="Save"
                            ng-click="books.save()">
                        Save <span class="glyphicon glyphicon-save"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>